---
# Frontmatter
---
<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Include Markdown Without Plugins - by @daveaseeman</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  
  <header>
    <div class="container">
      <span>Include Markdown</span>
      <nav>
        <ul>
          <li><a href="#intro" class="button-transition">Intro</a></li>
          <li><a href="#hack" class="button-transition">Hack</a></li>
          <li><a href="#custom" class="button-transition">Custom</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="container">
    {% include markdown.html file="include-markdown-intro" selector="section" id="intro" classes="full-height" %}
    <hr>
    {% include markdown.html file="include-markdown-hack" selector="section" id="hack" classes="full-height" %}
    <hr>
    {% include markdown.html file="include-markdown-custom" selector="section" id="custom" classes="full-height" %}
  </div>
  
  <footer>
    <div class="container">
      <p>By <a href="http://daveaseeman.github.io"><em>Seemingly</em> <strong>Creative</strong></a></p>
    </div>
  </footer>

</body>

</html>
